img{
    height: auto;
    max-width: 100%;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #9ebd9e;
    font-family: "kumbh-sans-variable", sans-serif;
    font-variation-settings: "wght" 400;
}
header{
    color: #fff;
    font-family: "broadacre-regular-1", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: x-large;
}
main p{
    background-color: #f1e8ca;
    max-width: 850px;
    text-align: center;
}
.music{
    background-color: #f1e8ca;
    max-width: 800px;
}
nav>a{
    width: 60px;
    color: #745151;
    display: inline-block;
    padding: 0px;
    font-size: medium;
    margin: auto;
    justify-content: center;
}
header>a{
    color: #745151;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header>a:hover{
    color: #dd855c;
    background-color: #9ebd9e;
}
.container{
    width: 100%;
    height: 100vh;
    background: #214237;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    width: 80%;
    height:fit-content;
}
.swiper-slide img{
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
color: #fff;
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;
}
.swiper-wrapper{
    padding: 20px;
}
a{
    text-decoration: none;
}
li{
    display: inline;
    text-align: center;
}
nav ul{
    text-align: center;
    text-decoration: none;
}
li a{
    color: #745151;
}
li>a:hover{
    color: #dd855c;
    background-color: #9ebd9e;
}
#center {
width: 400px;
margin: auto;
padding: 1px 10px 1px;
background-color: #f1e8ca;
  border-style: solid;
  border-color: #f1e8ca;
  border-radius: 10px;
  margin-top: 1rem;
}
#h2 {
    width: fit-content;
    margin: auto;
    background-color: #f1e8ca;
    text-align: center;
    padding: 1px 10px 1px;
  border-style: solid;
  border-color: #f1e8ca;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.music {
    width: 400px;
margin: auto;
padding: 1px 10px 1px;
background-color: #f1e8ca;
  border-style: solid;
  border-color: #f1e8ca;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#video {
    width: fit-content;
    margin: auto;
}